/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

.spotify-discography-home {
  /* height: 100vh;
  width: 100vw; */
  background-color: black;
}

.search-box {
  text-align: center;
  /* min-height: 100vh; */
}

.search-placeholder {
  color: white;
  text-decoration: underline;
}

.albumImage {
  height: 200px;
}
.albumName {
  color: white;
}

.albumPage {
  color: white;
}

.search {
  color: white;
}
